@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

/*Общие стили сайта*/
body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #2D3440;
  background: #FEAFC3;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title-h2 {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  margin: 0;
  padding: 0;
}

.title-h3 {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  margin: 0;
  padding: 0;
}

.title-h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  padding: 0;
}

.title-h5 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.text {
  color: #565C66;
  margin: 0;
  padding: 0;
}

.text--big {
  font-size: 18px;
  line-height: 24px;
}

.text--small {
  font-size: 14px;
  line-height: 20px;
}

.link {
  color: inherit;
  text-decoration: none;
}

.accent {
  color: #FFFFFF;
}

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 12px 32px;
  border-radius: 26px;
  text-align: center;
  background-clip: padding-box;
  text-decoration: none;
  display: inline-block;
  min-width: 139px;
}

.button--white {
  background-color: #FCFCFC;
  border: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  color: #2D3440;
}

.button--red {
  background-color: #FF2F64;
  border: 4px solid rgba(255, 47, 100, 0.3);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  color: #FCFCFC;
}

.button--light {
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #FCFCFC;
  border-radius: 20px;
  color: #2D3440;
  padding: 8px 32px;
  font-size: 14px;
}

.input {
  background: #FFFFFF;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #B9B9B9;
  min-height: 48px;
  padding: 12px 16px;
}

.mb {
  margin-bottom: 0;
}

.mb--xs {
  margin-bottom: 10px;
}

.mb--s {
  margin-bottom: 16px;
}

.mb--sm {
  margin-bottom: 25px;
}

.mb--m {
  margin-bottom: 35px;
}

.mb--ml {
  margin-bottom: 42px;
}

.mb--l {
  margin-bottom: 55px;
}

.mb--xl {
  margin-bottom: 80px;
}

.main-container {
  flex-grow: 1;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

/*шапка сайта*/
.navigation {
  min-height: 104px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.navigation__logo {
  width: 137px;
  margin-right: 30px;
}

.navigation__list {
  display: flex;
  align-items: center;
  flex-grow: 1;
  flex-wrap: wrap;
}

.navigation__item {
  margin-right: 32px;
}

.navigation__link {
  color: #2D3440;
  line-height: 20px;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 30px;
  display: inline-block;
}

.navigation__link--selected {
 border-bottom: 2px solid #756257;
}

.navigation__phone {
  font-weight: 700;
  color: #2D3440;
  width: 150px;
  line-height: 20px;
  margin-right: 16px;
}

.navigation-with-logo {
  display: flex;
  align-items: center;
  margin-right: 0;
}

.navigation-with-logo__item {
  background: rgba(252, 252, 252, 0.3);
  border-radius: 30px;
  position: relative;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 38px;
  padding-right: 16px;
  display: flex;
  min-width: 88px;
  margin-right: 16px;
}

.navigation-with-logo__item:first-child {
  border-radius: 27px;
  padding: 0;
  min-width: 32px;
  min-height: 32px;
}

.navigation-with-logo__item:last-child {
  min-width: 115px;
  margin-right: 0;
}

.navigation-with-logo__link {
  color: #2D3440;
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
}

.navigation-with-logo__link--search {
  padding: 8px;
}

/* слайдер */
.slider {
  padding-top: 21px;
  margin-bottom: 76px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.slider__items {
  width: 100%;
}

.slider__item {
  display: none;
}

.slider__item.active {
  display: flex;
}

/* slider tab */
.slider-tab {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 47%;
  width: 31%;
  left: 45%;
}

.slider-tab__button {
  width: 38px;
  min-height: 38px;
  background: rgba(252, 252, 252, 0.3);
  border: 2px solid #FCFCFC;
  border-radius: 26px;
  background-repeat: no-repeat;
  background-position: center;
}

.slider-tab__button--prev {
  background-image: url("../images/icons/arrow-right.svg");
}

.slider-tab__button--next {
  background-image: url("../images/icons/arrow-right.svg");
  transform: rotate(180deg);
}

.slider__dots {
  display: flex;
  margin-top: 8px;
}

.slider__dot {
  display: block;
  margin-right: 8px;
}

.slider__dot:last-child {
  margin-right: 0;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 100px;
  background: rgba(252, 252, 252, 0.3);
  border: none;
}

.dot--current {
  background: #FCFCFC;
}

.card {
  display: flex;
  padding-left: 70px;
}

.card__about {
  width: 470px;
  padding-top: 116px;
  margin-right: 4px;
}

.card__text {
  color: #2D3440;
}

.card__image {
  width: 330px;
}

/* социальные сети */
.social {
  display: flex;
}

.social--slider {
  margin-left: auto;
}

.social__item {
  width: 24px;
  height: 24px;
  border: 2px solid rgba(252, 252, 252, 0.3);
  border-radius: 24px;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 16px;
}

.social__item:last-child {
  margin-right: 0;
}

.social__item--tg {
  background-image: url("../images/icons/telegram.svg");
}

.social__item--vk {
  background-image: url("../images/icons/vk.svg");
}

.social__item--youtube {
  background-image: url("../images/icons/youtube.svg");
}

/* блок про подарки */
.gifts__title {
  max-width: 434px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.gifts__items {
  display: flex;
  justify-content: space-between;
}

.gifts__item {
  width: 570px;
  background: #FF7799;
  border-radius: 16px;
  padding: 37px 37px 32px 37px;
}

.gifts__item--one {
  background-image: url("../images/background/free.png");
  background-repeat: no-repeat;
  background-position-x: right;
}

.gifts__item--two {
  background-image: url("../images/background/marshmallow.png");
  background-repeat: no-repeat;
  background-position-x: right;
}

.gifts__text {
  color: #2D3440;
}

.gifts__text,
.gifts__subtitle {
  width: 315px;
}

/* каталог */
.catalog {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.catalog__title {
  max-width: 527px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.catalog__list {
  display: grid;
  gap: 40px 30px;
  grid-template-columns: repeat(4, 270px);
}

.catalog__item {
  width: 270px;
  padding: 0 40px 24px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.catalog__item:after {
  background: #FCFCFC;
  border-radius: 8px;
  width: 100%;
  content: '';
  top: 51px;
  left: 0;
  position: absolute;
  height: calc(100% - 51px);
  z-index: -1;
}

.catalog__link {
  text-decoration: none;
}

.catalog__subtitle {
  color: #2D3440;
}

.catalog__text {
  display: block;
  text-align: center;
}

.catalog__image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  object-fit: contain;
}

.catalog__price-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.catalog__price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

.catalog__cart {
  display: block;
  width: 32px;
  height: 32px;
  background: #FF2F64;
  border-radius: 26px;
  background-image: url("../images/icons/cart-white.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  fill: #FCFCFC;
}

.catalog__button-wrapper {
  margin-left: auto;
  text-align: center;
  width: 26%;
}

/* информация о магазине */
.info {
  width: 1170px;
  background: url("../images/background/info.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  padding: 24px;
}

.info__wrapper {
  background: #FFFFFF;
  border-radius: 16px;
  padding: 56px 40px;
}

.info__block {
  display: grid;
  gap: 40px 31px;
  grid-template-columns: auto auto;
}

.info__title {
  margin-bottom: 55px;
  text-align: center;
}

.info__item {
  width: 442px;
}

.info__text {
  color: #565C66;
}

/* новое в блоге */
.news {
  width: 570px;
  background: url("../images/background/news.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  padding: 32px;
}

.news__title {
  width: 305px;
}

.news__text {
  line-height: 20px;
}

/* форма подписки */
.subscribe-form {
  width: 570px;
  background: url("../images/background/subscribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  padding: 6px;
}

.subscribe-form__wrapper {
  background: #FFFFFF;
  border-radius: 16px;
  padding: 26px;
}

.subscribe-form__input {
  width: 332px;
  display: inline-block;
  margin-right: 10px;
}

/* форма доставки */
.delivery {
  width: 1170px;
  background: url("../images/background/delivery.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  padding: 64px;
}

.delivery__about {
  width: 371px;
  padding-top: 102px;
  margin-left: 36px;
}

.delivery-form {
  width: 500px;
  background: #FCFCFC;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
  padding: 40px;
}

.delivery-form__block {
  display: grid;
  grid-template-columns: 117px 287px;
  gap: 20px 16px;
}

.delivery-form__label {
  font-weight: 700;
  line-height: 20px;
  color: #2D3440;
  display: flex;
  flex-direction: column;
}

.delivery-form__label--date {
  grid-row: 1;
  grid-column: 1;
}

.delivery-form__label--phone {
  grid-row: 1;
  grid-column: 2;
}

.delivery-form__label--adress {
  grid-row: 2;
  grid-column: 1/-1;
}

.delivery-form__input {
  margin-top: 8px;
}

.delivery-form__text {
  margin-bottom: 30px;
}

.delivery-form__button {
  display: block;
  grid-row: 3;
  grid-column: 1/-1;
  justify-items: center;
  justify-self: center;
  margin-top: 8px;
}

/* контакты */
.contacts {
  width: 1170px;
  background: url("../images/background/adress.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  padding: 64px;
}

.contacts__wrapper {
  background: #FCFCFC;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
  width: 343px;
  padding: 40px;
}

.contacts__title  {
  text-align: left;
}

.contacts__text {
  display: block;
  text-align: left;
}

.contacts__text--small {
  margin-bottom: 29px;
}

.contacts__phone {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2D3440;
}

/* футер */
.page-footer {
  display: flex;
  justify-content: space-between;
  padding-top: 48px;
  padding-bottom: 48px;
 }

.page-footer__descr {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #2D3440;
}

.page-footer__about {
  display: flex;
  flex-direction: column;
  margin-right: 0;
}

.footer-menu {
  margin-left: 50px;
  width: 356px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 0;
}

.footer-menu__item {
  font-size: 14px;
  line-height: 20px;
 }

.footer-menu__link {
  color: #2D3440;
  text-decoration: none;
}

.footer-menu__link--bold {
  font-weight: 700;
 }

/* страница каталога */
/* хлебные крошки */
.breadcrumbs {
  display: flex;
  margin-top: 32px;
}

.breadcrumbs__item {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  text-decoration: none;
  margin-right: 28px;
}

.breadcrumbs__link {
  color: inherit;
  text-decoration: none;
}

.breadcrumbs__item:last-child {
  text-decoration: underline;
}

.inner-header__title {
  display: block;
}

.select-control {
  width: 196px;
}

.filter-form__range {
  width: 196px;
}

.filter-form__list {
  background: rgba(252, 252, 252, 0.3);
  border-radius: 18px;
  padding: 8px 24px;
  display: flex;
  justify-content: space-between;
}

.filter-form__list--fat {
  width: 383px;
}

.filter-form__list--add {
  width: 604px;
}

.filter-form__group {
  border: none;
}

.filter-form__title {
  color: #2D3440;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: end;
  flex-wrap: wrap;
  width: 36%;
}

.pagination__item {
  text-align: center;
  width: 24px;
  min-height: 24px;
}

.pagination__item--current {
  background: #FCFCFC;
  border-radius: 50%;
  text-align: center;
}

.pagination__link {
  text-decoration: none;
  color: #2D3440;
  line-height: 20px;
}
