@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

/*Общие стили сайта*/
body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #2D3440;
  background: #FEAFC3;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title-h2 {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  margin: 0;
  padding: 0;
}

.title-h3 {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  margin: 0;
  padding: 0;
}

.title-h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  padding: 0;
}

.title-h5 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.text {
  color: #565C66;
  margin: 0;
  padding: 0;
}

.text--big {
  font-size: 18px;
  line-height: 24px;
}

.text--small {
  font-size: 14px;
  line-height: 20px;
}

.link {
  color: inherit;
  text-decoration: none;
}

.accent {
  color: #FFFFFF;
}

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 12px 32px;
  border-radius: 26px;
  text-align: center;
  background-clip: padding-box;
  text-decoration: none;
  display: inline-block;
  min-width: 139px;
  cursor: pointer;
  border: none;
}

.button--white {
  background-color: #FCFCFC;
  color: #2D3440;
  box-shadow: 0 0 0 4px rgba(252, 252, 252, 0.4);
}

.button--white:hover {
  background: rgba(252, 252, 252, 0.4);
  box-shadow: 0 0 0 4px #FCFCFC;
}

.button--white:focus {
  background: rgba(252, 252, 252, 0.5);
  box-shadow: 0 0 0 2px #2D3440;
}

.button--white:active {
  background: #FCFCFC;
  box-shadow: 0 0 0 2px #2D3440;
}

.button--white:disabled {
  background: #E7E7E7;
  box-shadow: 0 0 0 4px rgba(252, 252, 252, 0.4);
  font-weight: 400;
}

.button--red {
  background-color: #FF2F64;
  box-shadow: 0 0 0 4px rgba(255, 47, 100, 0.3);
  color: #FCFCFC;
}

.button--red:hover {
  background: rgba(252, 252, 252, 0.3);
  color: #2D3440;
  box-shadow: 0 0 0 4px #FF2F64;
}

.button--red:focus {
  background: #FF2F64;
  box-shadow: 0 0 0 2px #2D3440;
}

.button--red:active {
  background: #FEAFC3;
  box-shadow: 0 0 0 2px #2D3440;
  color: #FCFCFC;
}

.button--red:disabled {
  background: #B9B9B9;
  color: #565C66;
  box-shadow: 0 0 0 4px rgba(185, 185, 185, 0.3);
}

.button--light {
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 20px;
  color: #2D3440;
  padding: 8px 32px;
  font-size: 14px;
  box-shadow: 0 0 0 2px #FCFCFC;
}

.button--light:hover {
  background: #FCFCFC;
  box-shadow: 0 0 0 2px rgba(252, 252, 252, 0.3);
}

.button--light:focus {
  background: rgba(252, 252, 252, 0.3);
  box-shadow: 0 0 0 2px #2D3440;
}

.button--light:active {
  background: rgba(252, 252, 252, 0.5);
  box-shadow: none;
}

.button--light:disabled {
  background: rgba(252, 252, 252, 0.3);
  opacity: 0.4;
  box-shadow: 0 0 0 2px #FCFCFC;
}

.input {
  background: #FFFFFF;
  border: 1px solid #B9B9B9;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #B9B9B9;
  min-height: 48px;
  padding: 12px 16px;
}

.mb {
  margin-bottom: 0;
}

.mb--xs {
  margin-bottom: 8px;
}

.mb--s {
  margin-bottom: 16px;
}

.mb--sm {
  margin-bottom: 25px;
}

.mb--m {
  margin-bottom: 35px;
}

.mb--xl {
  margin-bottom: 80px;
}

.main-container {
  flex-grow: 1;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

/*шапка сайта*/
.navigation {
  min-height: 104px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.navigation__logo {
  width: 137px;
  margin-right: 14px;
  position: relative;
  top: 2px;
}

.navigation__list {
  display: flex;
  align-items: center;
  flex-grow: 1;
  flex-wrap: wrap;
}

.navigation__item {
  border-radius: 30px;
}

.navigation__link {
  color: #2D3440;
  line-height: 20px;
  text-decoration: none;
  padding: 8px 14px 8px 16px;
  display: inline-block;
  position: relative;
  border-radius: 30px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

.navigation__link:hover {
  background: rgba(252, 252, 252, 0.5);
  border-radius: 30px;
  border: 2px solid rgba(252, 252, 252, 0.5);
  background-clip: padding-box;
}

.navigation__link:focus {
  background: rgba(252, 252, 252, 0.5);
  border: 2px solid #2D3440;
  border-radius: 30px;
  outline: none;
}

.navigation__link:active {
  background: #FCFCFC;
  border: 2px solid #FCFCFC;
}

.navigation__link--selected {
 border-bottom: 2px solid #756257;
}

.navigation-second__icon {
  fill: #2D3440;
  position: relative;
  top: 2px;
  left: 2px;
}

.navigation__phone {
  font-weight: 700;
  color: #2D3440;
  width: 150px;
  line-height: 20px;
  margin-right: 14px;
  text-decoration: none;
}

.navigation-with-logo {
  display: flex;
  align-items: center;
  margin-right: 0;
}

.navigation-with-logo__item {
  position: relative;
  display: flex;
  margin-right: 16px;
}

.navigation-with-logo__link {
  color: #2D3440;
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  background: rgba(252, 252, 252, 0.3);
  padding: 4px 14px 4px 36px;
  border-radius: 30px;
  position: relative;
  border: 2px solid rgba(252, 252, 252, 0.3);
  background-clip: padding-box;
}

.navigation-with-logo__link--icon-search {
  border-radius: 27px;
  padding: 7px;
  width: 32px;
  height: 32px;
}

.navigation-with-logo__link:hover {
  background: rgba(252, 252, 252, 0.5);
  border: 2px solid transparent;
}

.navigation-with-logo__link:focus {
  background: rgba(252, 252, 252, 0.5);
  border: 2px solid #2D3440;
}

.navigation-with-logo__link:active {
  background: #FCFCFC;
  border: 2px solid #FCFCFC;
}

.navigation-with-logo__item:last-child {
  min-width: 115px;
  margin-right: 0;
}

.navigation-with-logo__icon {
  fill: #2D3440;
  position: absolute;
  margin: auto 7px auto 14px;
  z-index: 1;
}

/* слайдер */
.slider {
  padding-top: 21px;
  margin-bottom: 76px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.slider__items {
  width: 100%;
}

.slider__item {
  display: none;
}

.slider__item.active {
  display: flex;
}

/* slider tab */
.slider-tab {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 46.3%;
  width: 31%;
  left: 45.1%;
}

.slider-tab__button {
  width: 38px;
  min-height: 38px;
  background: rgba(252, 252, 252, 0.3);
  border: 2px solid #FCFCFC;
  border-radius: 26px;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.slider-tab__button:hover {
  background: #FCFCFC;
}

.slider-tab__button:hover path {
  fill: #2D3440;
}

.slider-tab__button:focus {
  background: rgba(252, 252, 252, 0.3);
  border: 2px solid #2D3440;
}

.slider-tab__button:focus path {
  fill: #2D3440;
}

.slider-tab__button:active {
  background: rgba(252, 252, 252, 0.5);
}

.slider-tab__button:active path {
  fill: #2D3440;
}

.slider-tab__button:disabled {
  background: rgba(252, 252, 252, 0.3);
  opacity: 0.4;
  border: 2px solid #FCFCFC;
}

.slider-tab__button:disabled path {
  fill: #FCFCFC;
}

.slider-tab__icon {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  fill: #FCFCFC;
}

.slider-tab__icon--next {
  transform: rotate(180deg);
}

.slider__dots {
  display: flex;
  margin-top: 8px;
}

.slider__dot {
  display: block;
  margin-right: 8px;
}

.slider__dot:last-child {
  margin-right: 0;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background: rgba(252, 252, 252, 0.3);
  border: 1px solid rgba(252, 252, 252, 0.3);
  padding: 0;
}

.dot--current {
  background: #FCFCFC;
}

.dot:hover {
  background: rgba(252, 252, 252, 0.3);
  border: 1px solid #FCFCFC;
}

.dot:focus {
  background: rgba(252, 252, 252, 0.3);
  border: 1px solid #2D3440;
}

.dot:active {
  background: #FCFCFC;
}

.card {
  display: flex;
  padding-left: 70px;
}

.card__about {
  width: 470px;
  padding-top: 116px;
  margin-right: 4px;
}

.card__text {
  color: #2D3440;
  margin-bottom: 46px;
}

.card__image {
  width: 330px;
}

/* социальные сети */
.social {
  display: flex;
}

.social--slider {
  margin-left: auto;
}

.social__item {
  margin-right: 11px;
  position: relative;
}

.social__item:last-child {
  margin-right: 0;
}

.social__link {
  position: relative;
  line-height: 1;
  width: 28px;
  height: 28px;
  border-radius: 24px;
  border: 2px solid rgba(252, 252, 252, 0.5);
  display: block;
  background-clip: padding-box;
}

.social__icon {
  position: absolute;
  width: 24px;
  height: 24px;
}

.social__link:hover {
  background-color: #2D3440;
}

.social__link:focus {
  background-color: #2D3440;
  border: 2px solid #2D3440;
}

.social__link:active {
  opacity: 0.5;
  background-color: #B9B9B9;
}

/* блок про подарки */
.gifts__title {
  max-width: 434px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-bottom: 55px;
}

.gifts__items {
  display: flex;
  justify-content: space-between;
}

.gifts__item {
  width: 570px;
  background: #FF7799;
  border-radius: 16px;
  padding: 37px;
}

.gifts__item--one {
  background-image: url("../images/background/free.png");
  background-repeat: no-repeat;
  background-position-x: right;
}

.gifts__item--two {
  background-image: url("../images/background/marshmallow.png");
  background-repeat: no-repeat;
  background-position-x: right;
}

.gifts__text {
  color: #2D3440;
  margin-bottom: 28px;
  width: 315px;
}

.gifts__subtitle {
  margin-bottom: 27px;
  width: 315px;
}

/* каталог */
.catalog__title {
  max-width: 527px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 56px;
}

.catalog__list {
  display: grid;
  gap: 40px 30px;
  grid-template-columns: repeat(4, 270px);
}

.catalog__list--all {
  margin-bottom: 57px;
}

.catalog__item {
  width: 270px;
  padding: 0 40px 24px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.catalog__item::after {
  background: #FCFCFC;
  border-radius: 8px;
  width: 100%;
  content: '';
  top: 51px;
  left: 0;
  position: absolute;
  height: calc(100% - 51px);
  z-index: -1;
}

.catalog__link {
  text-decoration: none;
}

.catalog__subtitle {
  color: #2D3440;
}

.catalog__text {
  display: block;
  text-align: center;
}

.catalog__image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  object-fit: contain;
}

.catalog__price-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.catalog__price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

.catalog__cart {
  display: block;
  width: 32px;
  height: 32px;
  background: #FF2F64;
  border-radius: 26px;
  cursor: pointer;
  border: 2px solid #FF2F64;
  position: relative;
}

.catalog__cart:hover {
  background: rgba(252, 252, 252, 0.3);
}

.catalog__cart:focus {
  background: #FF2F64;
  border: 2px solid #2D3440;
}

.catalog__cart:active {
  background: #FFCBD8;
}

.catalog__cart:disabled {
  background: #B9B9B9;
  border: 2px solid #B9B9B9;
}

.catalog__icon path {
  fill: #FCFCFC;
}

.catalog__cart:hover path {
  fill: #2D3440;
}

.catalog__cart:focus path {
  fill: #FCFCFC;
}

.catalog__cart:active path {
  fill: #2D3440;
}

.catalog__cart:disabled path {
  fill: #565C66;
}

.catalog__button-wrapper {
  margin-left: auto;
  text-align: center;
}

.catalog-filter {
  margin-bottom: 42px;
}

/* информация о магазине */
.info {
  width: 1170px;
  background: url("../images/background/info.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  padding: 24px;
}

.info__wrapper {
  background: #FFFFFF;
  border-radius: 16px;
  padding: 57px 40px 56px;
}

.info__block {
  display: grid;
  gap: 40px 31px;
  grid-template-columns: auto auto;
}

.info__title {
  margin-bottom: 55px;
  text-align: center;
}

.info__item {
  position: relative;
  display: flex;
}

.info__text {
  width: 442px;
}

.info__item::before {
  content: '';
  display: inline-block;
  background-repeat: no-repeat;
  position: relative;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 2px solid #2D3440;
  background-position: 50% 50%;
  margin-right: 16px;
  background-size: 32px 32px;
}

.info__item--with-icon-ice-cream::before {
  background-image: url('../images/icons/ice-cream.svg');
}

.info__item--with-icon-cow::before {
  background-image: url('../images/icons/cow.svg');
}

.info__item--with-icon-leaf::before {
  background-image: url('../images/icons/leaf.svg');
}

.info__item--with-icon-thermometer::before {
  background-image: url('../images/icons/thermometer.svg');
}

.info__text {
  color: #565C66;
}

/* новое в блоге */
.news {
  width: 570px;
  background: url("../images/background/news.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  padding: 32px;
}

.news__title {
  width: 305px;
}

.news__text {
  line-height: 20px;
  margin-bottom: 14px;
}

/* форма подписки */
.subscribe-form {
  width: 570px;
  background: url("../images/background/subscribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  padding: 6px;
}

.subscribe-form__wrapper {
  background: #FFFFFF;
  border-radius: 16px;
  padding: 26px 26px 28px 26px
}

.subscribe-form__text {
  margin-bottom: 44px;
}

.subscribe-form__input {
  width: 332px;
  display: inline-block;
  margin-right: 14px;
}

/* форма доставки */
.delivery {
  width: 1170px;
  background: url("../images/background/delivery.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  padding: 64px;
}

.delivery__about {
  width: 371px;
  padding-top: 104px;
  margin-left: 36px;
}

.delivery__title {
  margin-bottom: 23px;
}

.delivery-form {
  width: 500px;
  background: #FCFCFC;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
  padding: 40px 40px 42px;
}

.delivery-form__block {
  display: grid;
  grid-template-columns: 117px 287px;
  gap: 20px 16px;
}

.delivery-form__label {
  font-weight: 700;
  line-height: 20px;
  color: #2D3440;
  display: flex;
  flex-direction: column;
}

.delivery-form__label--date {
  grid-row: 1;
  grid-column: 1;
}

.delivery-form__label--phone {
  grid-row: 1;
  grid-column: 2;
}

.delivery-form__label--adress {
  grid-row: 2;
  grid-column: 1/-1;
}

.delivery-form__input {
  margin-top: 8px;
}

.delivery-form__text {
  margin-bottom: 32px;
}

.delivery-form__button {
  display: block;
  grid-row: 3;
  grid-column: 1/-1;
  justify-items: center;
  justify-self: center;
  margin-top: 12px;
}

/* контакты */
.contacts {
  width: 1170px;
  background: url("../images/background/adress.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  padding: 64px;
}

.contacts__wrapper {
  background: #FCFCFC;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
  width: 343px;
  padding: 40px 40px 42px;
}

.contacts__title  {
  text-align: left;
  margin-bottom: 24px;
}

.contacts__text {
  display: block;
  text-align: left;
  margin-bottom: 12px;
}

.contacts__text--small {
  margin-bottom: 32px;
}

.contacts__phone {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2D3440;
}

/* футер */
.page-footer {
  display: flex;
  justify-content: space-between;
  padding-top: 48px;
  padding-bottom: 48px;
 }

 .page-footer--catalog {
  border-top: 1px solid rgba(252, 252, 252, 0.3);
 }

.page-footer__descr {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #2D3440;
}

.page-footer__about {
  display: flex;
  flex-direction: column;
  margin-right: 0;
}

.footer-menu {
  margin-left: 50px;
  width: 356px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 0;
}

.footer-menu__item {
  font-size: 14px;
  line-height: 20px;
 }

.footer-menu__link {
  color: #2D3440;
  text-decoration: none;
}

.footer-menu__link--bold {
  font-weight: 700;
 }

 .footer-menu__with-icon-like {
  position: relative;
 }

 .footer-menu__with-icon-like::before {
  display: inline-block;
  content: '';
  background-image: url(../images/icons/heart-fill.svg);
  width: 16px;
  height: 16px;
  position: absolute;
  left: -23px;
  top: 3px;
 }
/* страница каталога */
/* хлебные крошки */
.breadcrumbs {
  display: flex;
  margin-top: 31px;
}

.breadcrumbs__item {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  text-decoration: none;
  position: relative;
  margin-right: 4px;
}

.breadcrumbs__item:not(:last-child)::after {
  content: '';
  background-image: url("../images/icons/chevrons-right.svg");
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  display: inline-block;
  margin: 4px 5px 0;
}

.breadcrumbs__link {
  color: inherit;
  text-decoration: none;
}

.breadcrumbs__link--selected {
  padding-bottom: 3px;
  border-bottom: 1px solid #2D3440;
}

.inner-header {
  margin-bottom: 40px;
}

.inner-header__title {
  display: block;
  font-size: 32px;
}

.filter-form__row {
  display: grid;
  gap: 0 24px;
  justify-content: start;
  align-items: end;
}

.filter-form__row--first {
  margin-bottom: 12px;
}

.select-control {
  margin: 0;
  width: 196px;
  background: rgba(252, 252, 252, 0.3);
  border-radius: 20px;
  padding: 8px 12px 9px;
  border: 1px solid transparent;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-family: "Inter", sans-serif;
}

.select-control:hover {
  background: rgba(252, 252, 252, 0.5);
}

.select-control:focus {
  border-radius: 20px;
  border: 1px solid #FCFCFC;
}

.filter-form__select {
  width: 196px;
  grid-column: 1;
}

.filter-form__range {
  width: 196px;
  grid-column: 2;
}

.filter-form__list {
  background: rgba(252, 252, 252, 0.3);
  border-radius: 18px;
  padding: 8px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.filter-form__list--fat {
  width: 383px;
}

.filter-form__list--add {
  width: 604px;
}

.filter-form__group {
  border: none;
  width: 604px;
  grid-column: 1;
  margin: 0;
  padding: 0;
}

.filter-form__group--fat {
  width: 383px;
  grid-column: 3;
}

.filter-form__title {
  color: #2D3440;
  padding-left: 16px;
  margin-bottom: 8px;
  display: block;
}

.filter-form__button {
  width: 185px;
  grid-column: 2;
}

.control {
  display: flex;
  align-items: center;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: end;
  flex-wrap: wrap;
  width: 43%;
}

.pagination__item:first-child {
  margin-right: 7px;
}

.pagination__item:last-child {
  margin-left: 7px;
}

.pagination__item {
  text-align: center;
  position: relative;
}

.pagination__link {
  text-decoration: none;
  color: #2D3440;
  line-height: 20px;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid transparent;
  width: 24px;
  height: 24px;
  display: block;
}

.pagination__link--nav {
  width: 17px;
}

.pagination__link--current {
  background: #FCFCFC;
  text-align: center;
}

.pagination__link:hover:not(.pagination__link--nav) {
  background: rgba(252, 252, 252, 0.5);
}

.pagination__link:focus:not(.pagination__link--nav) {
  background: rgba(252, 252, 252, 0.3);
  border: 1px solid #2D3440;
}

.pagination__link:active:not(.pagination__link--nav) {
  background: rgba(252, 252, 252, 0.5);
  border: 1px solid #FCFCFC;
}

.pagination__icon path {
  fill: #2D3440;
  opacity: 0.5;
}

.pagination__icon--next {
  transform: rotate(180deg);
}

.pagination__icon--next path {
  opacity: 1;
}
